<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="FBAppID" value="1517352161879199"/>
    <add key="FBAppSecret" value="1a33a13d666cdc16ff157630689fa52a"/>

    <add key="GetNames" value="false"/>
    <add key="GetPosts" value="false"/>
    <add key="GetComments" value="false"/>
    <add key="SplitComments" value="true"/>

    <add key="UserBulkSize" value="1000"/>
    <add key="CommentBulkSize" value="1000"/>

    <add key="SentientListPath" value="Nielsen2011Sentiment_afinndk.txt"/>
  </appSettings>
  <connectionStrings>
    <add name="FacebookDebat" connectionString="server=y7awubfxd5.database.windows.net,1433;User ID=facebook_debat;Password=LAMA33staple;initial catalog=FacebookDebat;MultipleActiveResultSets=True"/>
    <add name="FacebookDebatEntities" connectionString="metadata=res://*/Data.Database.csdl|res://*/Data.Database.ssdl|res://*/Data.Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;server=y7awubfxd5.database.windows.net,1433;User ID=facebook_debat;Password=LAMA33staple;initial catalog=FacebookDebat;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>