/* http://codepen.io/AtomicNoggin/pen/fEish
    */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

div.commentfeed {
    margin: 10px;
    font-size: 0.7em;
}

.commentfeed div.feeditem {
    width: 800px;
    float: left;
}

.commentfeed div.feeditem div.time {
    float: left;
    width: 50px;
}

.commentfeed div.feeditem div.post {
    float: left;
    width: 200px;
    overflow: hidden;
}

.commentfeed div.feeditem div.comment {
    float: left;
    width: 500px;
}

.commentfeed div.feeditem div.person,
.commentfeed div.feeditem div.txt {
    clear: left;
    float: left;
}

.commentfeed div.feeditem div.bar {
    float:right;
    width: 100px;
    padding-top: 5px;
}
.commentfeed div.feeditem div.likecount {
    padding-top: 1px;
    float:right;
}
.commentfeed div.feeditem div.bar div {
    height: 10px;
    padding: 0px;
    margin: 0px;
}

.commentfeed div.feeditem div.redbar {
    background-color: red;
    width: 50%;
    float: left;
    clear: none;
}
.commentfeed div.feeditem div.bluebar {
    background-color: blue;
    width: 50%;
    float: left;
    clear: none;
}

.commentfeed div.feeditem div {
    padding-left: 4px;
    padding-bottom: 4px;
    vertical-align: top;
    float: left;
}

.commentfeed div.feeditem:nth-last-child(even) {
    background: #CCC;
}

.commentfeed div.feeditem:nth-last-child(odd) {
    background: #FFF;
}

.postFeed {
    width: 500px;
    overflow: hidden;
}

.postFeed .feeditem {
    margin-bottom: 10px;
    padding: 8px;
    background-color: #EEE;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.postFeed .poster {
    font-weight: bold;
    float: left;
    clear: left;
}

.postFeed .time {
    float: left;
    clear: left;
    margin-right: 10px;
    font-size: 0.7em;
}

.postFeed .post {
    width: 480px;
    clear: both;
    white-space: pre-line;
    font-size: 0.8em;
}

.postFeed .likes {
    float: left;
    font-size: 0.7em;
}
    .postFeed .likes > span {
        font-weight: bold;
    }
.postFeed .comments {
    float: left;
    margin-left: 10px;
    font-size: 0.7em;
}
    .postFeed .comments > span {
        font-weight: bold;
    }


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.grid-style {
    border: 1px solid rgb(212,212,212);
    min-height: 250px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.user-details {
    margin-top: 50px;
}

.gender-text {
    margin: 0 5px;
    vertical-align: sub;
}


.postFeed .bar {
    padding-top: 4px;
    float: right;
    width: 100px;
    height: 10px;
}

.postFeed .bar div {
    height: 10px;
    padding: 0px;
    margin: 0px;
    float: right;
}

.postFeed .bar .rod {
    background-color: red;
}
.postFeed .bar .midt {
    background-color: lightgray;
}
.postFeed .bar .bla {
    background-color: blue;
}
